.box {
    width: 200px; 
    height: 150px; 
    padding: 20px; 
    border: 2px solid black; 
    margin: 30px; 
    background-color: lightgray; 
}

h1 {
    color: red;
    background-color: blue;
}

h2 {
    color: blue;
    background-color: green;
}

h3 {
    color: green;
    background-color: red;
}

h4 {
    color: orange;
    background-color: blue;
}

h5 {
    color: purple;
    background-color: teal;
}

h6 {
    color: teal;
    background-color: orange;
}

